<div class = "container">
  <div class  = "about1">
  <h3 > About Us </h3>
  <p class = "about"> We write news for students of English. We help students to learn and understand English. Easy English news can help everybody who wants to understand better.

We started in March 2011. We wanted to help students understand more and have a chance to practise English. We wanted to give them some easy reading for their level of English.

Now we prepare short news articles every working day. Everybody can use them. All students can use them. All teachers can use them. We believe that these articles will help you have better English and understand more.
</div>

  <h3> How To Use </h3>
  <p class = "about2">
    Read news every day. Read also old news to see if you remember all new words. You can learn English very fast when you use News in Levels every day. Why? It is simple. We repeat the same words in one level again and again. So, when you read and listen to our news every day, after 2 or 3 or 4 months, you can understand all the words in one level. Then it is time for you to go one level higher and do the same.

After one year, you can understand people who speak English and you can know 3000 most important words in English. At News in Levels, you can learn English naturally and fast.
</div>
