
<div class="android-more-section">
  <div class = "height">
  <div class="android-section-title mdl-typography--display-1-color-contrast">ABOUT US </div>
  <div class="android-card-container mdl-grid">
  <div class="mdl-card__supporting-text">
        <p class="mdl-typography--font-light mdl-typography--subhead">
          My News  is your go-to daily blog for the latest news in Lifestyle,
           Entertainment and Business News. The idea of starting this blog is to provide latest news globally.
          This blog provides its users with variety of news ranging from technology news, sports and entertainmemnt.
        </p>
      </div>    
     </div>
  </div>
</div>
