
<div class="android-more-section">
<div class = "height">
  <div class="android-section-title mdl-typography--display-1-color-contrast">ABOUT US </div>
  <div class="android-card-container mdl-grid">
  <div class="mdl-card__supporting-text">
        <p class="mdl-typography--font-light mdl-typography--subhead">
          For any inquirries contact us through</p>
        <p class="mdl-typography--font-light mdl-typography--subhead">
          <strong>jecihjoy@gmail.com</strong>
        </p>
        <p class="mdl-typography--font-light mdl-typography--subhead">
         <strong>+254708608486</strong>
        </p>
      </div>    
     </div>
</div>
</div>