.container {
  background: #eff3f9;
  width: 900px;
  height: 650px;
  margin: 5% auto;
  margin-top:0px;
  margin-bottom: 0px;
  position: relative;
}

.container .about{
margin-top: 60px;
margin-bottom: 30px;
}